[core]
	excludesfile = ~/.gitignore_global
  editor = nvim
  quotepath = false
[user]
	name = Yuki Shimizu
	email = yuki.shimizu.contact@gmail.com
[url "ssh://git@github.com/"]
  insteadOf = https://github.com/
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
  required = true
[color]
  status = auto
  diff = auto
  branch = auto
  interactive = auto
  grep = auto
  ui = auto
[github]
	user = uki1014
[alias]
  type = cat-file -t
  dump = cat-file -p
  find = "!f() { git log --pretty=format:\"%h %cd [%cn] %s%d\" --date=relative -S'pretty' -S\"$@\" | peco | awk '{print $1}' | xargs -I {} git diff {}^ {}; }; f"
  # edit conflicted file on merge
  edit-unmerged = "!f() { git ls-files --unmerged | cut -f2 | sort -u ; }; nvim`f`"
  # add conflicted file on merge
  add-unmerged = "!f() { git ls-files --unmerged | cut -f2 | sort -u ; }; git add `f`"
[init]
	defaultBranch = main
	templatedir = ~/dotfiles/git/.git-templates/git-secrets
